<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" Content="banking product, healthcare product, encrypting pin pad">
<meta name="author" Content="sales@sunson-tech.com">
<meta name="description" Content="Consumer electronics design, development and manufacturing">
<title>Home | Sunson</title>
<link rel="stylesheet" href="css/cssen.css" type="text/css" />
	<link rel="stylesheet" href="css/demo.css" type="text/css" />

<script type="text/javascript">
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
</script>
<meta name="format-detection" content="telephone=no"/>
<script type="text/javascript">

function MM_changeProp(objId,x,theProp,theValue) { //v9.0
var obj = null; with (document){ if (getElementById)
obj = getElementById(objId); }
if (obj){
if (theValue == true || theValue == false)
eval("obj.style."+theProp+"="+theValue);
else eval("obj.style."+theProp+"='"+theValue+"'");
}
}
function MM_swapImgRestore() { //v3.0
var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_findObj(n, d) { //v4.01
var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImage() { //v3.0
var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_showHideLayers() { //v9.0
var i,p,v,obj,args=MM_showHideLayers.arguments;
for (i=0; i<(args.length-2); i+=3) 
with (document) if (getElementById && ((obj=getElementById(args[i]))!=null)) { v=args[i+2];
if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
obj.visibility=v; }
}
function MM_goToURL() { //v3.0
var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
</script> 

		
	
				<script type="text/javascript">
	/* 点击按钮，下拉菜单在 显示/隐藏 之间切换 */
					function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}


// 点击下拉菜单意外区域隐藏
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

	</script>


	

	
	
	
	
</head>
<body>
	<div id="toptop">
  <div id="toptop2">
    <div id="toptop3a">|</div>
    <div id="toptop5"><a href="contactus.html" class="webx">Contact</a></div>
    <div id="toptop4">|</div>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn"></button>
      <div id="myDropdown" class="dropdown-content"> <a href="#home">简体中文</a> <a href="#about">Deutsch</a> <a href="#contact">Français</a> </div>
    </div>
  </div>
</div>
	<div class="head-v3" id="index">
		<div id="dhs">
			<div id="topleft">
    <div id="topleftlogo"></div>
  </div>
	<div class="navigation-up">
		<div class="navigation-inner">
			
			<div class="navigation-v3">
				<ul>
					<ul>
						<!-- 默认被选中项 -->
						<li :class="i.id == 1 ? 'nav-up-selected-inpage' : ''" v-for="i in nevigatelist" :_t_nav="i.nav">
							<h2>
								<a href="#">{{i.label}}</a>
							</h2>
						</li>
					</ul>
				</ul>
			</div>
			</div>
		</div>
		
	</div>
	<div class="navigation-down">
		<div v-for="i in navdetails" :id="i.id" :class="i.id == 'product' ? ['nav-down-menu','menu-1'] : ['nav-down-menu','menu-3','menu-1']" style="display: none;" :_t_nav="i.id">
			<div class="navigation-down-inner">
				<dl v-for="item in i.childrenlist" :style="item.id == '1' ? {'margin-left': i.leftlength}:''">
					<dt v-if="item.label !=''">{{item.label}}</dt>
					<dd v-for="y in item.hreflist">
						<a class="link" href="#">{{y.label}}</a>
					</dd>
				</dl>
			</div>
			
		</div>
	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
		var qcloud = {};
		$('[_t_nav]').hover(function() {
			var _nav = $(this).attr('_t_nav');
			clearTimeout(qcloud[_nav + '_timer']);
			qcloud[_nav + '_timer'] = setTimeout(function() {
				$('[_t_nav]').each(function() {
					$(this)[_nav == $(this).attr('_t_nav') ? 'addClass' : 'removeClass']('nav-up-selected');
				});
				$('#' + _nav).stop(true, true).slideDown(200);
			}, 150);
		}, function() {
			var _nav = $(this).attr('_t_nav');
			clearTimeout(qcloud[_nav + '_timer']);
			qcloud[_nav + '_timer'] = setTimeout(function() {
				$('[_t_nav]').removeClass('nav-up-selected');
				$('#' + _nav).stop(true, true).slideUp(200);
			}, 150);
		});
	});

	new Vue({
		el: "#index",
		data: {
			/* 导航标题 */
			nevigatelist: [{
				
				id: '2',
				nav: 'product',
				label: 'Solutions',
			}, {
				
				id: '4',
				nav: 'solution',
				label: 'Industries',
			}, {
				id: '5',
				nav: 'cooperate',
				label: 'Products',
			}, {
				id: '6',
				nav: 'support',
				label: 'Company',
				}, {
				id: '1',
				nav: 'home',
				label: 'News',
			
			}, ],
			/* 导航内明细列表 */
			navdetails: [{
					id: 'product',
					/* 明细列表左移距离 */
					leftlength : '0px',
					/* 明细列表标题下内容 */
					childrenlist: [{
						id: '1',
						/* 列表标题 */
						label: 'Bank & Identity',
						/* 标题下内容列表 */
						hreflist: [{
							label: 'Cash Dispenser ATM',
							href: '#',
						}, {
							label: 'Cash Deposti Machine CDM',
							href: '#',
						}, {
							label: 'Smart Teller Machine STM',
							href: '#',
								}, {
							label: 'Currency Exchange Kiosk',
							href: '#',
						}, ]
					}, {
						id: '2',
						/* 列表标题 */
						label: 'Retail & Healthcare',
						/* 标题下内容列表 */
						hreflist: [{
							label: 'Hosiptal Check-in Kiosk',
							href: '#',
						}, {
							label: 'Self-service Healthcare Kiosk',
							href: '#',
						}, {
							label: 'Mobile Charging Station',
							href: '#',
						}, {
							label: 'Hotel Check-in Kiosk',
							href: '#',
					
						
						}, ]
					}, {
						id: '3',
						/* 列表标题 */
						label: 'PIN PAD',
						/* 标题下内容列表 */
						hreflist: [{
							label: 'EPP V4,V5,V6',
							href: '#',
						}, {
							label: 'Wincor EPP',
							href: '#',
						}, {
							label: 'Full Metal Keyboard',
							href: '#',
							}, {
							label: 'NON PCI Pinpad',
							href: '#',
						}, ]
					}, {
						id: '4',
						/* 列表标题 */
						label: 'Public & Transportation',
						/* 标题下内容列表 */
						hreflist: [{
							label: 'Ticket Vending Kiosk',
							href: '#',
						}, {
							label: 'Card Dispenser Kiosk',
							href: '#',
							}, {
							label: 'Card Top-up Kiosk',
							href: '#',
									}, {
							label: 'Parking Payment Kiosk',
							href: '#',
											}, {
							label: 'Un-attendant Payment Terminal',
							href: '#',
						}, ]
					}, {
						id: '5',
						/* 列表标题 */
						label: 'Information & Augmented Reality',
						/* 标题下内容列表 */
						hreflist: [{
							label: 'Information Kiosk',
							href: '#',
						}, {
							label: 'Digital Signage',
							href: '#',
						}, {
							label: 'Way Finding Solutions',
							href: '#',
							}, {
							label: 'Queuing System',
							href: '#',
								}, {
							label: 'Un-attendant Payment Terminal',
							href: '#',
						}, ]
					}, {
						id: '6',
						/* 列表标题 */
						label: 'Payment Terminals',
						/* 标题下内容列表 */
						hreflist: [{
							label: 'Bitcoin Payment Kiosk',
							href: '#',
						}, {
							label: 'Cash Payment Kiosk',
							href: '#',
								}, {
							label: 'Wall Mount Payment Kiosk',
							href: '#',
									}, {
							label: 'Cashless Payment Kiosk',
							href: '#',
							}, ]
					
							}, {
						id: '7',
						/* 列表标题 */
						label: 'Development',
						/* 标题下内容列表 */
						hreflist: [{
							label: 'Hardware',
							href: '#',
						}, {
							label: 'Software',
							href: '#',
								}, {
							label: 'Information Security',
							href: '#',
					
							}, ]
						}, ]
				

				
				},{
					id: 'solution',
					leftlength : '380px',
					childrenlist: [{
							id: '1',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'Bank',
								href: '#',
							}, ]
						},{
							id: '2',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'Healthcare',
								href: '#',
							}, ]
						},{
							id: '3',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'Security Information',
								href: '#',
							}, ]
						},
					]
				},{
					id:'support',
					leftlength : '300px',
					childrenlist : [
						{
							id: '1',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'About Us',
								href: '#',
							}, ]
						},{
							id: '2',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'History',
								href: '#',
							}, ]
						},{
							id: '3',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'Leadership',
								href: '#',
								
							}, ]
						},{
							id: '2',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'Culture',
								href: '#',
							}, ]
										},{
							id: '2',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'Certification',
								href: '#',
								
							}, ]
							
												
							
							
							
							
						},
					]
				},{
					id:'cooperate',
					leftlength : '480px',
					childrenlist:[
						{
							id: '1',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'ATM/CDM/CRS',
								href: '#',
							}, ]
						},{
							id: '2',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'Healthcare products',
								href: '#',
							}, ]
						},{
							id: '3',
							/* 列表标题 */
							label: '',
							/* 标题下内容列表 */
							hreflist: [{
								label: 'PIN PAD',
								href: '#',
							}, ]
						},
					],
				}
			],
		},
		mounted: function() {

		},
		methods: {

		}
	})
</script>
<div id="wrap"> 
  <!-- 视频背景 -->
  <div bg-video>
    <video src="images/2078.mp4" width="100%" height="100%" autoplay="autoplay" loop="loop" muted="muted" webkit-playsinline="true" playsinline="true" cue-before:none;></video>
  </div>
  <!-- 主内容部分 -->
  <div class="main-body">
    <div id="a12a">
      <div id="a12">INNOVATION <br />
        <font color="#fff">FOR A <br />
        BETTER <br />
        FUTURE</font></div>
      <div id="a12x">Builds intelligent applications and scenarios in various fields <br />
        Commits to becoming a leading innovative solutions provider</div>
      <div id="banner1a2b3a875" style="cursor:pointer" onclick="MM_goToURL('parent','d32h.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('banner1a2b3a2875','','show')" onmouseout="MM_showHideLayers('banner1a2b3a2875','','hide')">
        <div id="banner1a2b3a2875">
          <div id="banner1a2b3a2b875">FIND OUT MORE</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="aboutusrightx9">OUR INDUSTRIAL SOLUTIONS</div>
<div id="aboutusrightx9x">Innovate with high performance and digitalization</div>
<div id="a22top">
  <div id="a22a" style="cursor:pointer" onclick="MM_goToURL('parent','0965.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('a22aw','','show')" onmouseout="MM_showHideLayers('a22aw','','hide')">
    <div id="a22aw">
      <div id="a22aj">Bank & Identity</div>
      <div id="a22aj2">Cash Dispenser ATM<br />
        Cash Deposti Machine CDM<br />
        Smart Teller Machine STM<br />
        Currency Exchange Kiosk</div>
    </div>
  </div>
  <div id="a22b" style="cursor:pointer" onclick="MM_goToURL('parent','0965.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('a22ax','','show')" onmouseout="MM_showHideLayers('a22ax','','hide')">
    <div id="a22ax">
      <div id="a22bj">Retail & Healthcare</div>
      <div id="a22bj2">Hosiptal Check-in Kiosk<br />
        Self-service Healthcare Kiosk<br />
        Mobile Charging Station<br />
        Hotel Check-in Kiosk</div>
    </div>
  </div>
  <div id="a22c" style="cursor:pointer" onclick="MM_goToURL('parent','0965.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('a22ay','','show')" onmouseout="MM_showHideLayers('a22ay','','hide')">
    <div id="a22ay">
      <div id="a22cj">PIN PAD</div>
      <div id="a22cj2">EPP V4,V5,V6<br />
        Wincor EPP<br />
        Full Metal Keyboard<br />
        NON PCI Pinpad</div>
    </div>
  </div>
</div>
<div id="a22topm">
  <div id="a22d" style="cursor:pointer" onclick="MM_goToURL('parent','0965.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('a22az','','show')" onmouseout="MM_showHideLayers('a22az','','hide')">
    <div id="a22az">
      <div id="a22dj">Public & Transportation</div>
      <div id="a22dj2">Ticket Vending Kiosk<br />
        Card Dispenser Kiosk<br />
        Card Top-up Kiosk<br />
        Parking Payment Kiosk<br />
        Un-attendant Payment Terminal</div>
    </div>
  </div>
  <div id="a22dm" style="cursor:pointer" onclick="MM_goToURL('parent','0965.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('a22azm','','show')" onmouseout="MM_showHideLayers('a22azm','','hide')">
    <div id="a22azm">
      <div id="a22djm">Information & Augmented Reality</div>
      <div id="a22dj2m">Information Kiosk<br />
        Digital Signage<br />
        Way Finding Solutions<br />
        Queuing System<br />
        Un-attendant Payment Terminal</div>
    </div>
  </div>
  <div id="a22dn" style="cursor:pointer" onclick="MM_goToURL('parent','0965.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('a22azn','','show')" onmouseout="MM_showHideLayers('a22azn','','hide')">
    <div id="a22azn">
      <div id="a22djn">Payment Terminals</div>
      <div id="a22dj2n">Bitcoin Payment Kiosk<br />
        Cash Payment Kiosk<br />
        Wall Mount Payment Kiosk<br />
        Cashless Payment Kiosk</div>
    </div>
  </div>
</div>
<div id="bottomcover">
  <div id="banner1a2b3a875se" style="cursor:pointer" onclick="MM_goToURL('parent','d32h.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('banner1a2b3a2875se','','show')" onmouseout="MM_showHideLayers('banner1a2b3a2875se','','hide')">
    <div id="banner1a2b3a2875se">
      <div id="banner1a2b3a2b875se">DISCOVER MORE</div>
    </div>
  </div>
</div>
<div id="midd">
  <div id="a21">
    <div id="a21xc">
      <div id="a21right">
        <div id="a21right1">SUNSON PRODUCTS</div>
        <div id="a21right2">Explore some of our most<br />
          popular products</div>
        <div id="a21leftimage"><a href="contactus.html" class="webj">VIEW DETAILS→</a></div>
      </div>
      <div id="a21left"> </div>
    </div>
  </div>
</div>
<div id="aboutusrightx">About Sunson Tech</div>
<div id="aboutus">
  <div id="aboutusleft">
    <div id="a21right1xc">WHO WE ARE</div>
    <div id="a21right2xc">We are manufacturer in banking<br />
      healthcare and information<br />
      security/solution industries</div>
    <div id="a21leftimagexc"><a href="contactus.html" class="webj">LEARN MORE→</a></div>
  </div>
  <div id="aboutusleftx"></div>
</div>
<div id="aboutusrightx2">Let's discuss about your project</div>
<div id="bottomcover">
  <div id="banner1a2b3a875se9" style="cursor:pointer" onclick="MM_goToURL('parent','d32h.html');return document.MM_returnValue" onmouseover="MM_showHideLayers('banner1a2b3a2875se9','','show')" onmouseout="MM_showHideLayers('banner1a2b3a2875se9','','hide')">
    <div id="banner1a2b3a2875se9">
      <div id="banner1a2b3a2b875se9">CONTACT US</div>
    </div>
  </div>
</div>
<div id="bottom">
  <div id="a22bottom">
    <div id="xz1">
      <div class="xz1a">WHAT WE DO</div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Our Industries</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Our Products</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Our Solutions</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Hardware</a></div>
		<div class="xz1a"><a href="contactus.html" class="webxz">Software</a></div>
    </div>
    <div id="xz2">
      <div class="xz1a">INDUSTRIES</div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Banking</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Retail</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Healthcare</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Encrypting Pin Pad</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Information Security</a></div>
    </div>
    <div id="xz3">
      <div class="xz1a">COMPANY</div>
      <div class="xz1a"><a href="contactus.html" class="webxz">About Us</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">History</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Leadership</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Culture</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Certification</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">News</a></div>
    </div>
    <div id="xz4">
      <div class="xz1a">CAREERS</div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Jobs at Sunson</a></div>
      <div class="xz1a">CONTACT US</div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Our Locations</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Support</a></div>
      <div class="xz1a"><a href="contactus.html" class="webxz">Business Inquiries</a></div>
      <div class="xz1ax">FOLLOW US</div>
      <div class="bottom1ab1xoofb">
        <div id="facebook" style="cursor:pointer" onclick="MM_goToURL('parent','https://www.facebook.com/');return document.MM_returnValue"></div>
        <div id="instagram" style="cursor:pointer" onclick="MM_goToURL('parent','https://www.instagram.com/');return document.MM_returnValue"></div>
        <div id="twitter" style="cursor:pointer" onclick="MM_goToURL('parent','https://twitter.com/');return document.MM_returnValue"></div>
        <div id="youtube" style="cursor:pointer" onclick="MM_goToURL('parent','https://www.youtube.com/');return document.MM_returnValue"></div>
      </div>
    </div>
  </div>
</div>
<div id="bottomxz">
  <div id="a22bottomxz">
    <div id="a22bottomxzs">
      <div id="xz5">Copyright © 2022 Shenzhen Sunson Tech Co., Ltd.</div>
      <div id="xz6">|</div>
      <div id="xz7"><a href="contactus.html" class="webxz">Terms and Conditions</a></div>
      <div id="xz6">|</div>
      <div id="xz7"><a href="contactus.html" class="webxz">Privacy and Policy</a></div>
      <div id="xz6">|</div>
      <div id="xz7"><a href="contactus.html" class="webxz">Terms of Use</a></div>
      <div id="xz6">|</div>
      <div id="xz7"><a href="contactus.html" class="webxz">Cookies Notice</a></div>
    </div>
  </div>
</div>
</body>
</html>