header{
    background-color: rgb(106, 157, 202);
}
.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 35%);
    background-color: white;
    padding: 5px;
    box-shadow: 0 5px 25px 0 rgba(0 , 0, 0, .5);
    opacity: 0;
    transform: translateY(-19px);
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;

}

.link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);

}


