nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.logo{
    width: 155px;
}

.hamburger-menu{
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
}

hr{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    margin: 10% 0;
    transition: width 350ms ;
    pointer-events: none;
}

.hamburger-menu:hover hr{
    width: 40px;
   
}

hr:nth-child(2){
    width: 75%;
}

hr:nth-child(3){
    width: 45%;
}

.sub-menus{
    position: absolute;
    top: 40%;
    /* background-color: yellow; */
    width: 100%;

    opacity: 0;
    pointer-events: none;
    transition: top 350ms ease-in-out, opacity 350ms ease-in-out; 
}

.cic-dropdown.active  .sub-menus{
    opacity: 1;
    top: 100%;
    pointer-events: auto;
}


/* sub menu starts form here  */
.sub-menu{
    width: 100%;
    text-align: start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* margin-bottom: 1.5rem; */
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.sub-menu:hover  .underline{
    text-decoration: underline;
}


.sub-menu:focus .hidden{
    display: block;
}


